/*
*/
*{margin: 0;}

article{ 
  border-radius: 0.5em;
  box-shadow: 5px 5px 10px black;
}

body{
  background:#333;
  color: black;
  font-size:16px;
  font-family:Arial;
}

header{
  background: #ffffff;
  border-radius: 0.5em;
  box-shadow: 5px 5px 10px black;
  margin: 1em auto;
  padding: 1em;
  text-align: right;
  text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.50);
  width: 90%;
}
li{
  padding: 0.5em;
}

p{
  margin: 1em;
}

section{
  background: #ffffff;
  border-radius: 0.5em;
  box-shadow: 5px 5px 10px black;
  margin: 1em auto;
  overflow:hidden;
  padding: 1em;
  width: 90%;
}

ul{
  list-style-type:none;
  padding: 1em;
}

#about{
  background: blue; 
  float: right;
  width:83%;
}

#menu{
  background: red; 
  float: left;
  width:15%;
}

@media screen and (max-width:1000px){
  a{
    display:block
  }
  li{
    float:left;
  }

  ul{
    list-style-type:none;
    margin:0;
    padding:0;
    overflow:hidden;
  }
  #about{
    margin: 0.5em 0;
    width:100%;
  }
  #menu{
    margin: 0.5em 0;
    width:100%;
  }
}

@media screen and (max-width:700px){
  li{
    float:left;
  }

  ul{
    list-style-type:none;
    margin:0;
    padding:0;
    overflow:hidden;
  }

  #about{
    margin: 0.5em 0;
    width:100%;
  }
  #menu{
    margin: 0.5em 0;
    width:100%;
  }
}