/*
*/
*{margin: 0;}

article{ 
  background: #ffffff;
  border-radius: 0.5em;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 1);
  margin: 0em 0em 1em 0em;
}

body{
  background:#333;
  color: black;
  font-size:16px;
  font-family:Arial;
}

h1{
  margin: 0em 0.5em;
}

header{
  background: #ffffff;
  border-radius: 0.5em;
  box-shadow: 5px 5px 10px black;
  margin: 1em auto;
  padding: 1em 0em;
  text-align: right;
  text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.50);
  width: 90%;
}

nav{
  background: #ffffff; 
  border-radius: 0.5em;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 1);
  float: left;
  width:15%;
}

li{
  padding: 0.5em;
}

p{
  margin: 1em;
}

section{
  margin: 1em auto;
  padding: 0em 1em;
  overflow:hidden;
  width: 90%;
}

ul{
  list-style-type:none;
  padding: 1em;
}

#about{
  float: right;
  width:83%;
}
#gallery{
  float: right;
  width:83%;
}
@media screen and (max-width:1000px){
  nav{
    margin: 0.5em 0;
    width:100%;
  }
  li{
    float:left;
  }
  ul{
    list-style-type:none;
    margin:0;
    padding:0;
    overflow:hidden;
  }

  #about{
    margin: 0.5em 0;
    width:100%;
  }
}

@media screen and (max-width:700px){
  li{
    float:left;
  }
  nav{
    margin: 0.5em 0;
    width:100%;
  }
  ul{
    list-style-type:none;
    margin:0;
    padding:0;
    overflow:hidden;
  }

  #about{
    margin: 0.5em 0;
    width:100%;
  }
}